body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Mobile View */
@media (max-width: 576px) {
  .card {
    width: 100%;
    margin-bottom: 1rem;
  }

  .navbar {
    font-size: 14px;
  }
}

/* Tablet View */
@media (max-width: 768px) {
  .card {
    width: 50%;
  }

  .navbar {
    font-size: 16px;
  }
}
